<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dashboard College</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/stylesheet.css">
</head>

<body id="bg">
  <div class="grid">
    <h1 class="title">My Path</h1>
    <div class="info">
      <p>Welcome to My Path. We will help you:</p>
        <li>Discover your passions</li>
        <li>Find eligible Colleges</li>
        <li>Pinpoint your next steps</li>
        <li>Unlock your true potential</li>
      <p>The process is very easy and intuitive. Simply answer the following questions to the best of your ability, and we will generate for you a list of Colleges tailored to your interests.</p>
      <div>
        <button href="college_path_questions.html" type="button" onclick="next()" id="nextButton"> Start My Path </button>
      </div>
    </div>
  </div>
  <script src="scripts.js"></script>
</body>
</html>